h1 {
    color: brown;
}

img {
    width: 400px;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: chocolate ;
    padding: 50px;
    border: 1px solid yellow;
}

#spanId {
    font-size: 18px;
}

